@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: dimgrey;
    background-color: black;
    overscroll-behavior: none;
}

a {
    color: inherit;
    text-decoration: none;
}
